<% if (blogs.length > 0) { %>
  <% blogs.forEach(blog => { %>
    <a class="single" href="/blogs/<%= blog._id %>">
    <h3><%= blog.title %></h3>
    <p><%= blog.snippet %></p>
  </a>
   <% }) %>
<% } else {%>
    <h3>No Blogs yet...</h3>
<% } %> 